<div class="sidenav-container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/dashboard']">
          <mat-icon style="padding-right:5px;">24mp</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'">IfCommerce</span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div>
    <div>
      <mat-nav-list>
        <ng-container *ngFor="let item of sidenavItems">
          <a mat-list-item (click)="onItemSelected(item)" [routerLink]="item.route" class="gb-nav-list">
            <mat-icon style="padding-right:5px;">{{item.iconName}}</mat-icon>
            <span [@animateText]="linkText ? 'show' : 'hide'">{{ item.displayName }}</span>
            <span [@animateText]="linkText ? 'show' : 'hide'" *ngIf="item.children && item.children.length" class="rotate-icon">
              <mat-icon [@onIndicatorRotate]="item.expanded ? 'expanded': 'collapsed'">
                expand_more
              </mat-icon>
            </span>
          </a>
          <div *ngIf="item.expanded" [@animateText]="linkText ? 'show' : 'hide'">
            <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route">
              <mat-icon class="child-icon" style="padding-right:5px;">{{child.iconName}}</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'">{{ child.displayName }}</span>
            </a>
          </div>
        </ng-container>
      </mat-nav-list>
    </div>
  </div>
  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
    <button mat-icon-button (click)="onSidenavToggle()" class="arrow-icon">
      <mat-icon *ngIf="sideNavState">arrow_left</mat-icon>
      <mat-icon *ngIf="!sideNavState">arrow_right</mat-icon>
    </button>
  </div>
</div>
