<div class="horizontal-chart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="title-chart">Mensal Comparative</h4>
                <div class="line-chart">
                    <div>
                        <button (click)="addSeries()">Add Series</button>
                    </div>
                    <div #chartTarget>
                        chart target
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>